.slide-project {
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-project img {
  width: 35rem;
  height: 20rem;
  border-radius: 40px;
  outline: 2px solid white;
}
.slide-project span:nth-child(2) {
  margin-top: 40px;
  font-size: 40px;
  color: #fdd40f;
}
.slide-project span:nth-child(3) {
  width: 50%;
  font-size: 20px;
  color: black;
}

@media screen and (max-width: 735px) {
  .slide-project img {
    width: 100%;
    height: 100%;
  }
  .slide-project span:nth-child(2) {
    margin: 0;
    margin-top: 10px;
    font-size: 30px;
  }
  .slide-project span:nth-child(3) {
    width: 90%;
    margin-top: 10px;
    font-size: 17px;
    line-height: 22px;
  }
}
