.intro{
    display: flex;
    height: 80vh;
    margin-top: 30px;
    padding-left: 40px;
}

.i-left{
    flex: 1;
    margin-right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}

.i-name{
    display: flex;
    flex-direction: column;
}
.i-name span:nth-child(1){
    font-size: 60px;
    font-weight: bold;
}
.i-name span:nth-child(2){
    font-size: 60px;
    font-weight: bold;
    color: orange;
}
.i-name span:nth-child(3){
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    color: gray;
    margin-bottom: 20px;
}
.i-left .button{
    height: 40px;
    width: 100px;
}
.hire-me{
     margin-top: 10px;
     margin-left: 40px;
}
.social-media-icons{
    width: 150px;
    position: absolute;
    bottom: 5px;
    left: 20px;

    display: flex;
    justify-content: space-between;
}
.social-media-icons img{
    height: 40px;
    cursor: pointer;
}


.i-right{
    flex: 1;
    position: relative;
    z-index: 1;
}

.i-right img:nth-child(1){
    position: absolute;
    transform: scale(.8);
    bottom: -100px;
    right: -150px;
    z-index: 3;
}
.i-right img:nth-child(2){
    position: absolute;
    transform: scale(.7);
    left: -150px;
    z-index: 2;
}
.i-right img:nth-child(3){
    position: absolute;
    transform: scale(1.3);
    bottom: 11px;
    right: 180px;
    z-index: 4;
}
.i-right img:nth-child(4){
    position: absolute;
    transform: scale(1);
    top: -20px;
    left: -200px;
    z-index: 5;
}
.float-item{
    position: absolute;
    width: 200px;
    height: 80px;
    z-index: 10;
    
}

.fitem1{
    right: 60px;
    top: 170px;
    /* position: relative; */
}

.fitem2{
    bottom: 10px;
    right: 400px;
    /* position: relative; */
}


@media screen and (max-width:540px) {
    .intro{
        margin-top: -30px;
        flex-direction: column;
        height: 190vh;
    }
    .i-right{
        transform: scale(.8);
        left: 120px;
        top: -10px;
    }
    .i-right img:nth-child(1){
        right: -50px;
    }
    .i-right img:nth-child(2){
        left: -400px;
        top: 50px;
    }
    .i-right img:nth-child(3){
        bottom: 20px;
        right: 210px;
    }
    .i-right img:nth-child(4){
        top: -30px;
        left: -300px !important;
    }
    .float-item{
        width: 140px;
        height: 60px;   
    }
    .fitem1{
        right: 25px !important; 
        top: 120vh !important;
    }
    .fitem2{
        bottom: -475px !important;
        right: 220px !important;
    }
}

@media screen  and (min-width:541px) and (max-width:690px) {
    .intro{
        margin-top: -30px;
        flex-direction: column;
        height: 190vh;
    }
    .i-right{
        transform: scale(.8);
        left: 120px;
        top: -10px;
    }
     .i-right img:nth-child(1){
        right: 0px;
    }
    .i-right img:nth-child(2){
        left: -300px;
        top: 100px;
    }
    .i-right img:nth-child(3){
        bottom: 20px;
        right: 280px;
    }
    
    .float-item{
        top: 120vh;
        width: 140px;
        height: 60px;   
    }
    
    .fitem2{
        top: 172vh;
        right: 320px !important;
    }
}

@media screen  and (min-width:691px) and (max-width:882px) {
    .intro{
        margin-top: -30px;
        flex-direction: column;
        height: 190vh;
    }
    .i-right{
        transform: scale(.8);
        left: 120px;
        top: -10px;
    }
     .i-right img:nth-child(1){
        right: 60px;
    }
    .i-right img:nth-child(2){
        left: -250px;
        top: 100px;
    }
    .i-right img:nth-child(3){
        bottom: 50px;
        right: 380px;
    }
    
    .float-item{
        top: 120vh;
        width: 140px;
        height: 60px;   
    }
    
    .fitem2{
        top: 174vh;
        right: 420px !important;
    }
}