
@font-face{
  font-family: Gumela;
  src: url('./fonts/Gumela\ Regular.otf');
}
*{
  font-family: 'Gumela';
  font-weight: normal;
  font-size: 20px;
  
}
body{
  margin: 0;
  box-sizing: border-box;
}

.App{
  padding: 0;
  overflow: hidden;
  color: rgb(41, 41, 41);
}

.button{
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  padding: 7px 18px;
  background: linear-gradient(rgb(255, 238, 0) 30%,rgb(218, 141, 0) 100%);
  box-shadow: 0 20px 24px 3px rgba(255, 166, 0, 0.767);
}

.button:hover{
  background: white;
  cursor: pointer;
  color: orange;
  border: 1px solid orange;
}


